<nav-bar></nav-bar>
<br/>
<div class="container-fluid">
    <h3 style="padding-left: 10px;">Add User</h3>
    <form *ngIf="addUserForm" [formGroup]="addUserForm" (ngSubmit)="onSubmit()">
        <table border="0" cellspacing="0" cellpadding="10" style="width: 60%">
            <tr class="form-group">
                <td width="20%">
                    <label>First Name</label>
                </td>
                <td width="10%"></td>
                <td width="70%">
                    <input type="text" class="form-control" id="firstName" formControlName="firstName" placeholder="First Name" autofocus/>
                </td>
            </tr>
            <tr class="form-group">
              <td width="20%">
                  <label>Last Name</label>
              </td>
              <td width="10%"></td>
              <td width="70%">
                  <input type="text" class="form-control" id="lastName" formControlName="lastName" placeholder="Last Name" autofocus/>
              </td>
          </tr>
            <tr class="form-group">
                <td width="20%">
                    <label>Employee Id</label>
                </td>
                <td width="10%"></td>
                <td width="70%">
                    <input type="text" class="form-control" id="employeeId" formControlName="employeeId" placeholder="Employee Id" autofocus />
                </td>
            </tr>
        </table>
        <br>
        <table border="0" cellspacing="0" cellpading="0">
            <tr>
                <td width="45%">
                    <button type="submit" class="btn btn-success" [disabled]="!addUserForm.valid" style="width: 100px; cursor: pointer;">Add User</button>
                </td>
                <td width="10%"></td>
                <td width="45%">
                    <button type="button" class="btn btn-primary" (click)="reset()" style="width: 100px; cursor: pointer;">Reset</button>
                </td>
            </tr>
        </table>
    </form>
</div>